#lobbynavbar(ng-controller='navbarController')
    .navbar.navbar-success
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-warning-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='javascript:void(0)' ng-click="lobby()")
                    | SSNoC
                    .ripple-container
            .navbar-collapse.collapse.navbar-warning-collapse
                ul.nav.navbar-nav
                    li(ng-class="navLobby")
                        a(href='javascript:void(0)' ng-click="lobby()") Lobby
                    li(ng-class="navChatPublicly")
                        a(href='javascript:void(0)' ng-click="chatPublicly()") Chat Publicly <span class="badge">{{message_navbar}}</span>
                    li(ng-class="navChatprivately")
                        a(href='javascript:void(0)' ng-click="chatPrivately()") Chat Privately <span class="badge">{{private_message_navbar}}</span>
                    li(ng-class="navPostAnnouncement")
                        a(href='javascript:void(0)' ng-click="postAnnouncement()") Post Announcement
                    li(ng-class="navMeasurePerf")
                        a(href='javascript:void(0)' ng-click="measurePerf()") Measure Performance
                    li(ng-class="navShareLocation")
                        a(href="javascript:void(0)" ng-click="shareLocation()") Share Location
                    li(ng-class="navAdministerPage")
                        a(href="javascript:void(0)" ng-click="administratorPage()") Administer User Profile

                ul.nav.navbar-nav.navbar-right
                    li#search_button
                        a(href="javascript: void(0)" data-toggle="modal" data-target="#search_modal" ng-click="search()")
                            span.glyphicon.glyphicon-search
                    li
                        a(href='javascript:void(0)') {{currentUser}}
                    li
                        a#logout(href='javascript:void(0)', ng-click = 'logout()') Log out

    #notification

block content
    div.container.center_div#chatPublicPage(ng-controller='chatPubliclyController')
        div.row
            div.col-md-12.col-lg-12.col-xs-12.well
                ul.list-group
                    li.list-group-item(ng-repeat="message in messages")
                        span.badge {{message.Timestamp|date : 'MM/dd/yyyy HH:mm:ss'}}
                        b {{message.USERNAME}}
                        |   says:
                        span(ng-if='message.MESSAGE') {{ message.MESSAGE }}
                        img(ng-if='message.image', ng-src='{{ message.image }}')

                form#chatForm.form-horizontal(name="chatForm")
                    div.form-group.has-feedback.has-feedback-left
                        div.input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-comment
                                input.form-control(name="message" type="text" ng-model="currentMsg")
                    div.form-group.has-feedback.has-feedback-left
                        input.btn.btn-success.btn-block(autocomplete="off" value="Send Message" type="submit" ng-click="sendMessage()")
                    div.form-group.has-feedback.has-feedback-left
                        input(value="Picture" type="file" accept="image/*" capture="camera" fileread="data.image")
                        input.btn.btn-info.btn-block(autocomplete="off" value="Take Picture" type="submit")
                    div.btn-group.btn-group-justified
                        div.btn-group
                            input.btn.btn-success.btn-raised(ng-if='data.image' autocomplete="off" value="Send Picture" type="submit" ng-click="sendPicture()")
                        div.btn-group
                            input.btn.btn-warning.btn-raised(ng-if='data.image' autocomplete="off" value="Cancel Picture" type="submit" ng-click="cancelPicture()")
