<head>
    <style type="text/css">
    @charset "UTF-8";
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }
    
    ng\:form {
        display: block;
    }
    
    .ng-animate-shim {
        visibility: hidden;
    }
    
    .ng-anchor {
        position: absolute;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="image/icon" href="favicon.ico">
    <!-- title-->
    <title>S17-SV2-ESN</title>
    <!-- additional stylesheets for each page-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="landingPage.js"></script>
</head>

<body ng-app="ESNApp">
    <div ui-view class="container-fluid ng-scope">
        <div id="landing-navbar" ng-controller="navbarController" class="ng-scope">
            <div class="navbar navbar-success">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".navbar-warning-collapse" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse navbar-warning-collapse collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="nav navbar-nav">
                            <li ng-class="navLobby" class="active"><a href="javascript:void(0)" ng-click="landingPage()">Landing</a></li>
                            <li ng-class="navChatPublicly"><a href="javascript:void(0)" ng-click="chatPublicly()">Chat Publicly <span class="badge ng-binding"></span></a></li>
                            <!-- <li ng-class="navChatprivately" class="hide"><a href="javascript:void(0)" ng-click="chatPrivately()">Chat Privately <span class="badge ng-binding"></span></a></li>
                            <li ng-class="navPostAnnouncement"><a href="javascript:void(0)" ng-click="postAnnouncement()">Post Announcement</a></li>
                            <li ng-class="navMeasurePerf" class="hide"><a href="javascript:void(0)" ng-click="measurePerf()">Measure Performance</a></li>
                            <li ng-class="navShareLocation"><a href="javascript:void(0)" ng-click="shareLocation()">Share Location</a></li>
                            <li ng-class="navAdministerPage" class="hide"><a href="javascript:void(0)" ng-click="administratorPage()">Administer User Profile</a></li> -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="search_button"><a href="javascript: void(0)" data-toggle="modal" data-target="#search_modal" ng-click="search()"><span class="glyphicon glyphicon-search"></span></a></li>
                            <li><a href="javascript:void(0)">{{curUser}}</a></li>
                            <li><a id="logout" href="javascript:void(0)" ng-click="logout()">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
<!--             <div id="notification">
                <div class="alert alert-dismissable alert-info ng-binding">
                    <button type="button" data-dismiss="alert" class="close"><span aria-hidden="true">×</span></button>Welcome back david, what do you wanna do today?</div>
            </div> -->
        </div>
        <div id="userStatus" ng-controller="statusController" class="col-xs-12">
            <h2>Your Status</h2>
            <form class="ng-valid ng-dirty ng-valid-parse">
                <div class="form-group">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" ng-model="status" name="statusRadios" value="Ok" checked="checked" class="ng-valid ng-not-empty ng-dirty ng-touched"><span class="circle"></span><span class="check"></span><span class="circle"></span>Normal</label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" ng-model="status" name="statusRadios" value="Help" class="ng-valid ng-not-empty ng-dirty ng-touched ng-valid-parse"><span class="circle"></span><span class="check"></span><span class="circle"></span>Help</label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" ng-model="status" name="statusRadios" value="Emergency" class="ng-valid ng-not-empty ng-dirty ng-touched"><span class="circle"></span><span class="check"></span><span class="circle"></span>Emergency</label>
                    </div>
                    <div>
                        <button ng-click="updateStatus()" class="btn btn-primary">Update Status</button>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <button ng-click="updateStatus()" class="btn btn-primary">Update</button>
                </div> -->
            </form>
        </div>
        <div id="userDirectory" class="col-xs-12" ng-controller="userDirectoryController">
            <h2>User Directory</h2>
            <div class="list-group">
                <div ng-repeat="user in users"> <!-- ng-repeat -->
                    <div class="row">
                        <div class="col-xs-7">
	                        <div class="list-group-item">
	                        	<!-- <div class="row-action-primary">
	                                <img src="/Users/EricGao/Desktop/FSE/s17-ESN-SV2/views/partials/test.jpeg" style="width: 10%; height: 10%;">
	                            </div> -->
	                            <div class="row-content">
	                                <h4 type="button">{{user.username}}</h4>
	                                <p class="ng-binding">status: {{user.accountstatus}}</p>
	                                <p class="ng-binding">{{user.onlinestatus}}</p>
	                                <p class="ng-binding"></p>
	                            </div>
	                        </div>
                        </div>
                        <div class="col-xs-5">
                            <div>
                                <button type="button" class="btn btn-raised btn-sm">View Profile</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-raised btn-sm">Chat Privately</button>
                            </div>
                            <!-- end ngIf: user.NAME !== currentUser -->
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
        </div>
    </div>
</body>
